/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.title-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 10rem;
  height: 20rem;
  margin: 2rem 0rem 2rem 7rem;
}

.red-box-front {
  width: 100%;
  height: 40vh;
  background-color: $color__secondary;
}

.front-nav {
  padding: $base__space-unit;
  width: 100%;
  height: 55vh;
  background-color: $color__main;
}

// the projects

.projects-box {
  padding-top: $base__space-unit * 2;
  padding-left: $base__space-unit;
  position: relative;
}

.project-h2 {
  position: absolute;
  top: 88px;
  left: 30px;
  margin-left: $base__space-unit;
}

.the-x-1 {
  font-size: 3rem;
  color: $color__accent;
  position: absolute;
  top: 30px;
  left: 10px;
  font-family: $font__secondary;
}

.vl-front-1 {
  border-left: 2px solid $color__text-secondary;
  height: 700px;
  width: 2px;
  position: absolute;
  top: -630px;
}

// the person

.person-box {
  padding-top: $base__space-unit * 2;
  padding-bottom: $base__space-unit * 2;
  padding-right: $base__space-unit;
  position: relative;

  h2 {
    margin-left: $base__space-unit;
  }
}

.person-h2 {
  position: absolute;
  top: 210px;
  left: 150px;
}

.the-x-2 {
  font-size: 3rem;
  color: $color__accent;
  position: absolute;
  top: 150px;
  left: 285px;
  font-family: $font__secondary;
}

.vl-front-2 {
  border-left: 2px solid $color__text-secondary;
  height: 650px;
  width: 2px;
  position: relative;
  top: -500px;
  left: 300px;
}
