/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

/* Front page */

.title-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 10rem;
  height: 50vh;
  margin: 2rem 0rem 0rem 7rem;
}

.red-box-front {
  width: 100%;
  height: 300px;
  background-color: $color__secondary;
  position: relative;
}

.front-nav {
  padding: $base__space-unit;
  width: 100%;
  height: 55vh;
  background-color: $color__main;
}

.follow {
 position: absolute;
 left: 267px;
 top: 160px;
 transform: rotate(90deg);
 color: $color__text-secondary;
 font-size: .8rem;
 font-style: italic;
}

// the projects

.projects-box {
  padding-top: $base__space-unit * 2;
  padding-left: $base__space-unit;
  position: relative;
}

.project-h2 {
  position: absolute;
  top: 88px;
  left: 30px;
  margin-left: $base__space-unit;
}

.the-x-1 {
  font-size: 3rem;
  color: $color__accent;
  position: absolute;
  top: 30px;
  left: 10px;
  font-family: $font__secondary;
}

.the-x-1-t {
  font-size: 3rem;
  color: $color__accent;
  position: absolute;
  top: -700px;
  left: 10px;
  font-family: $font__secondary;

  &:visited {
    color: $color__accent;
    }

  &:hover {
    color: $color__link-hover;
  }
}

.vl-front-1 {
  border-left: 2px solid $color__text-secondary;
  height: 710px;
  width: 2px;
  position: absolute;
  top: -630px;
}

// the person

.person-box {
  position: relative;

  h2 {
    margin-left: $base__space-unit;
  }
}

.person-h2 {
  position: absolute;
  top: 160px;
  left: 130px;
}

.the-x-2 {
  font-size: 3rem;
  color: $color__accent;
  position: absolute;
  top: 100px;
  left: 265px;
  font-family: $font__secondary;
}

.the-x-2-t {
  font-size: 3rem;
  position: absolute;
  top: -515px;
  left: 265px;
  font-family: $font__secondary;
  &:visited {
  color: $color__accent;
  }
  &:hover {
    color: $color__link-hover;
  }
}

.vl-front-2 {
  border-left: 2px solid $color__text-secondary;
  height: 600px;
  width: 2px;
  position: absolute;
  top: -450px;
  left: 280px;
}

/* Projects Page */

.page-header-projects {
  display: flex;
  align-items: center;
  height: 20vh;
  background-color: $color__background-body;
  margin-bottom: $base__space-unit * 2;
}

.page-header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;

  @include desktop {
    max-width: $desktop;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.home-nav {
  position: relative;
  &:hover {
    content: "hi there";
  }
}

.header-box { 
  h1 {
  font-size: 2.5rem;
  margin-bottom: 6rem;
    @include desktop {
      margin: 0px;
    }
  }
}

.the-x-1-p {
  font-size: 3rem;
  position: absolute;
  top: 79px;
  left: 0px;
  font-family: $font__secondary;
  @include desktop {
    top: 0px;
    left: -343px;
  }
  &:visited {
  color: $color__accent;
  }
  &:hover {
    color: $color__link-hover;
      &:before {
        content: "home...";
        position: absolute;
        top: 31px;
        left: 38px;
        color: $color__text-secondary;
        font-family: $font__main;
        font-size: .8rem;
        font-style: italic;
        @include desktop {
          top: 16px;
          left: 43px;
        }
      }
  }
}

.the-x-2-p {
  font-size: 3rem;
  position: absolute;
  top: 79px;
  left: 243px;
  font-family: $font__secondary;
  @include desktop {
    top: 0px;
    left: 10px;
  }
  &:visited {
  color: $color__accent;
  }
  &:hover {
    color: $color__link-hover;
      &:before {
        content: "...about me";
        position: absolute;
        top: 31px;
        left: -98px;
        color: $color__text-secondary;
        font-family: $font__main;
        font-size: .8rem;
        font-style: italic;
        @include desktop {
          top: 16px;
          left: -98px;
        }
      }
  }
}

.vl-home-1 {
  width: 200px;
  border-bottom: 2px solid $color__text-secondary;
  position: absolute;
  top: 110px;
  left: 39px;
  @include desktop {
    height: 10px;
    width: 300px;
    top: 24px;
    left: -300px;
  }
}

.site-main-projects {
  background-color: $color__main;
  padding-bottom: $base__space-unit;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left:auto;
  margin-right: auto;
  width: 75%;

  @include desktop { 
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  row-gap: $base__space-unit * 4 ;
  margin-left:auto;
  margin-right: auto;
  max-width: $desktop;
  margin-bottom: $base__space-unit * 3;
  }
}

.project-info {
  h2 {
    margin-top: 3rem;
    color: $color__background-body;
    font-style: italic;
    font-size: 1.2rem;
    border-bottom: 2px solid $color__text-secondary;
    padding: 0.5rem;
      @include desktop {
        margin-top: 0px;  
    } 
  }
}

.project-img {

  margin: 3rem 0rem;

  img {
    box-shadow: 10px 10px $color__accent;
    border: 2px solid $color__accent;
  }
 }

 .button {
  width: 10rem;
  height: 5rem;
  background-color: $color__accent;
  padding: .5rem 2rem .5rem 2rem;
 }

 .site-info {
   text-align: center;
   font-size:11px;
 }

 /* ABOUT PAGE */

 .entry-content {
   width: 78%;
   margin: 0 auto;
   h2 {
     font-size: 1.5rem;
     color: $color__accent;
   }
 }

 .the-x-2-a {
  font-size: 3rem;
  position: absolute;
  top: 79px;
  left: 243px;
  font-family: $font__secondary;
  @include desktop {
    top: 0px;
    left: 10px;
  }
  &:visited {
  color: $color__accent;
  }
  &:hover {
    color: $color__link-hover;
      &:before {
        content: "...projects";
        position: absolute;
        top: 31px;
        left: -98px;
        color: $color__text-secondary;
        font-family: $font__main;
        font-size: .8rem;
        font-style: italic;
        @include desktop {
          top: 16px;
          left: -98px;
        }
      }
  }
}

.contact-box {
  background-color: $color__secondary;
  width: 100%;
  height: 25vh;
  color: white;
}