/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.title-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 10rem;
  height: 50vh;
  margin: 2rem 0rem 0rem 7rem;
}

.red-box-front {
  width: 100%;
  height: 40vh;
  background-color: $color__secondary;
}

.front-nav {
  padding: $base__space-unit;
  width: 100%;
  height: 55vh;
  background-color: $color__main;
}

// the projects

.projects-box {
  padding-top: $base__space-unit * 2;
  padding-left: $base__space-unit;
  position: relative;
}

.project-h2 {
  position: absolute;
  top: 88px;
  left: 30px;
  margin-left: $base__space-unit;
}

.the-x-1 {
  font-size: 3rem;
  color: $color__accent;
  position: absolute;
  top: 30px;
  left: 10px;
  font-family: $font__secondary;
}

.the-x-1-t {
  font-size: 3rem;
  color: $color__accent;
  position: absolute;
  top: -700px;
  left: 10px;
  font-family: $font__secondary;
}

.vl-front-1 {
  border-left: 2px solid $color__text-secondary;
  height: 670px;
  width: 2px;
  position: absolute;
  top: -590px;
}

// the person

.person-box {
  position: relative;

  h2 {
    margin-left: $base__space-unit;
  }
}

.person-h2 {
  position: absolute;
  top: 160px;
  left: 130px;
}

.the-x-2 {
  font-size: 3rem;
  color: $color__accent;
  position: absolute;
  top: 100px;
  left: 265px;
  font-family: $font__secondary;
}

.the-x-2-t {
  font-size: 3rem;
  color: $color__accent;
  position: absolute;
  top: -565px;
  left: 265px;
  font-family: $font__secondary;
}

.vl-front-2 {
  border-left: 2px solid $color__text-secondary;
  height: 600px;
  width: 2px;
  position: absolute;
  top: -450px;
  left: 280px;
}
